langchain-core==0.1.53
langchain-openai==0.1.5
langchain-community==0.0.38
langchain==0.1.20
langchain-text-splitters>=0.0.1
openai==1.10.0
httpx
httpcore>=1.0.0
python-dotenv==1.0.0
duckduckgo-search>=4.1.1
chromadb>=0.4.22
watchdog>=3.0.0
Pillow>=10.0.0
pyautogui>=0.9.54
pytesseract>=0.3.10
numpy>=1.24.0,<2
pathlib>=1.0.1
typing-extensions>=4.5.0
python-dateutil>=2.8.2
aiohttp>=3.9.1
async-timeout>=4.0.3
opencv-python>=4.8.0
requests>=2.31.0
geocoder>=1.38.1
pygame>=2.5.0
PyPDF2>=3.0.0
click>=8.1.8
future>=1.0.0
ratelim>=0.1.6
#kokoro-onnx>=0.2.6
soundfile>=0.12.1
filetype>=1.0.0
beautifulsoup4>=4.9.3
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
Flask
readability-lxml
html2text
selenium
webdriver-manager
tiktoken
# PyMuPDF
fitz
# Pillow (PIL)
Pillow 